/*
/*/

!.gitignore

!wp-config.php
!.user.ini
!.htaccess


# Theme directory
!/wp-content/
!/wp-content/themes/
!/wp-content/themes/customizr-pro-child/*
!/wp-content/themes/customizr-pro-child/woocommerce/*
/wp-content/plugins
/wp-content/uploads
index.php
**.log
/wp-content/themes/customizr-pro



